    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvCUI7YSVemf3TbnNvc1MTnw1lK0dKQyY&callback=initMap" async defer>
    </script>
    <!-- jquery and bootstrap js -->

    <script src="/js/bootstrap.min.js"></script>
    </body>

</html>