<!DOCTYPE html>
<html>

<head>
    <title>Melbourne City Parking lots</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script>
    // $(document).ready(function() {
    //     $.ajax({
    //         url: "https://data.melbourne.vic.gov.au/resource/dtpv-d4pf.json",
    //         type: "GET",
    //         data: {
    //             "$limit": 5000,
    //             "$$app_token": "DJcK54lIRE8FfTPGASaefCAbe"
    //         }
    //     }).done(function(data) {
    //         alert("Retrieved " + data.length + " records from the dataset!");
    //         console.log(data);
    //     });
    // });
    </script>
</head>

<body>