
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7;
}
#parent {
    width: 100%;
    height: 100%;
    position: absolute;
}

#map {
    height: 100%;
    width: 100%;
}

div#button {
    position: relative;
    z-index: 10;
    left: 43%;
    bottom: 15%;
}


/* home style */

div#home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div.locationField {
    position: absolute;
    left: 35%;
    top: 55%;
}

input.search_box {
    width: 300px;
    height: 55px;
    border: none;
    background: none;
    border-bottom: 3px solid white;
    outline: none;
}


p.header {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

div.header {
    margin: 7% auto;
}

footer.home {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    opacity: 0.87;
}

footer p#footer{
    line-height: 40px;
    text-align: center;
    color: gray;
}

/*data style*/
h2.data-header {
    font-family: 'Jua', sans-serif;
    text-align: center;
}

button#data-btn-go-back {
    position: absolute;
    right: 15%;
    color: white;
    background-color:#CD6155;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 4px;
}

div.data-btn-group {
    margin: 40px auto;
}

button.data-btn {
    width: 45px;
    height: 45px;
    font-size: 9px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #CD6155;
    color:#CD6155 ;
    border-radius: 50%;
    margin-right: 10px;
}

button.data-btn:hover {
    width: 45px;
    height: 45px;
    font-size: 9px;
    font-weight: bold;
    background-color: #CD6155;
    color:white ;
    border-radius: 50%;
    margin-right: 10px;
}

button.data-btn:visited {
    outline: none;
}




