<% include partials/header %>


    <div id="parent">

        <div id="map"></div>
        <div id="button" class="container">
            <button id="refreshBtn" type="button" class="btn btn-primary btn-lg">Refresh</button>
        </div>
    </div>


    <script>
    var map;
    var currentLat = <%= desLat%>;
    var currentLng = <%= desLng%>;
    var circle = 200;
    var realUrl = "https://data.melbourne.vic.gov.au/resource/dtpv-d4pf.json?$where=within_circle(location," + currentLat + "," + currentLng + "," + circle + ")";
    // url: "https://data.melbourne.vic.gov.au/resource/dtpv-d4pf.json$",



    // var red = "/images/red.png";
    // var blue = "/images/blue.png";
    // get data from victoria government open data
    function getInfo(){
        $.ajax({
            url: "/"
        }).done(function(data){

        })
    }

    function getData() {
        $.ajax({
            url: realUrl,
            type: "GET",
            data: {
                "$limit": 5000,
                "$$app_token": "DJcK54lIRE8FfTPGASaefCAbe"
            }
        }).done(function(data) {
            //alert("Retrieved " + data.length + " records from the dataset!");
            data.forEach(function(bay) {
                var streetMarker = bay.st_marker_id;
                var bayId  = bay.bay_id;
                var bayLat = bay.lat;
                var bayLng = bay.lon;
                var bayStatus = bay.status;
                var latLng = new google.maps.LatLng(bayLat, bayLng);
                var red = {
                    url: '/images/red.png',
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                var contentString = '<div id="content">'+
                            '<h6>1P MTR M-SAT 7:30-18:30</h6>'+
                            '</div>';


                var infowindow = new google.maps.InfoWindow({
                            content:contentString
                        });


                var blue = {
                    url: '/images/blue.png',
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                if (bayStatus == "Unoccupied") {
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: blue
                    });

                    marker.addListener("mouseover",function(){
                        aler(bayId);

                        infowindow.open(map,marker);
                    });

                    marker.addListener('mouseout',function(){
                        infowindow.close();
                    });

                    marker.addListener('click',function(){
                        window.location.href=`/data/${bayId}?streetMarker=${streetMarker}`;
                    });

                }

                if (bayStatus == "Present") {
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: red
                    });
                    marker.addListener('mouseover',function(){
                        infowindow.open(map,marker);
                    });
                    marker.addListener('mouseout',function(){
                        infowindow.close();
                    });

                    marker.addListener('click',function(){
                        window.location.href=`/data/${bayId}?streetMarker=${streetMarker}`;
                    });


                }
            });
        });
    }


    // map initialization
    function initMap() {

        getData();
        var melbourneCity = { lat: currentLat, lng: currentLng };
        map = new google.maps.Map(document.getElementById('map'), {
            center: melbourneCity,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        $(document).ready(function() {
            //离开了ajax函数，data不能被传递给一个var，不能被调用。想不明白这一点。
            $("#refreshBtn").on("click", function() {
                getData();
            })
        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvCUI7YSVemf3TbnNvc1MTnw1lK0dKQyY&callback=initMap" async defer>
    </script>
    <% include partials/footer %>

























